<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Event name</dt>
      <dd><%= @event.event_name %></dd>

      <dt>Event description</dt>
      <dd><%= @event.event_description %></dd>

      <dt>Total cost</dt>
      <dd><%= @event.total_cost %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Event has many charges -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Charges
      </li>

      <% @event.charges.each do |charge| %>
        <li class="list-group-item">
          <a href="/charges/<%= charge.id %>">
            <%= charge.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/charges/<%= charge.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/charges/<%= charge.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_charge/<%= charge.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_charge" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for payer_id -->
      <input type="hidden" name="payer_id" value="<%= current_user.id %>">

      <!-- Label and input for ower_id -->
      <div class="form-group">
        <label for="ower_id" class="control-label">
          Ower
        </label>

        <%= select_tag(:ower_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount
        </label>

        <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Charge
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
